--extra-index-url=https://download.pytorch.org/whl/cu128
accelerate
datasets==2.19.0
evaluate
jiwer
librosa
onnx==1.19.0
onnxruntime-gpu==1.23.2
optimum==1.23.3
soundfile
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
transformers==4.57.3
